<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="games.linkin.mapper.PeopleMapper">

    <resultMap id="peopleResultMap" type="games.linkin.pojo.People">
        <result property="cardId" column="card_id" />
        <result property="covidTest" column="covid_test" />
    </resultMap>

    <delete id="deleteByIds">
        delete from people where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>